@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ImgSpot</h1>
    </br>
    <h2 class="display-6 mt-3">Login</h2>

    <form action="/user" method="post">
        <label for="username" class=".col-form-label-sm py-2 mt-2">Username</label>
        <input type="text" class="form-control-sm py-2 mt-2" id="username" name="login" value="">

        <br>

        <label for="password" class=".col-form-label-sm py-2">Password</label>
        <input type="password" class="form-control-sm py-2" id="password" name="login" value="">

        <br>

        <input type="submit" class="btn btn-primary" id="submit" name="login" value="Submit">
    </form>
</div>
